@import "https://fonts.googleapis.com/css?family=Montserrat";
/* line 5, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Narziss;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
@font-face {
  font-family: Narziss-medium;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
/* line 22, ../sass/_partials/_slider.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 26, ../sass/_partials/_slider.scss */
body, html {
  background: transparent;
  font-size: 6px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 860px) {
  /* line 26, ../sass/_partials/_slider.scss */
  body, html {
    font-size: 8px;
    padding: 0px;
  }
}
@media (min-width: 1200px) {
  /* line 26, ../sass/_partials/_slider.scss */
  body, html {
    font-size: 10px;
    padding: 0px;
  }
}

/* line 46, ../sass/_partials/_slider.scss */
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  z-index: 999;
}
/* line 54, ../sass/_partials/_slider.scss */
.header-wrapper .header {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
}
/* line 61, ../sass/_partials/_slider.scss */
.header-wrapper .menu-wrapper {
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  width: 2.5rem;
  height: 3rem;
  right: 0;
  margin: 0;
  text-align: left;
}
/* line 13, ../sass/_partials/_slider.scss */
.header-wrapper .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 76, ../sass/_partials/_slider.scss */
.header-wrapper .menu-hamburger {
  position: relative;
  width: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  cursor: pointer;
  right: 0;
  top: 1rem;
}
/* line 87, ../sass/_partials/_slider.scss */
.header-wrapper .menu-hamburger::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 0;
}
/* line 97, ../sass/_partials/_slider.scss */
.header-wrapper .menu-hamburger::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
/* line 108, ../sass/_partials/_slider.scss */
.header-wrapper .nav-wrapper {
  position: relative;
  float: right;
}
/* line 113, ../sass/_partials/_slider.scss */
.header-wrapper nav {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 700;
  color: white;
}
/* line 120, ../sass/_partials/_slider.scss */
.header-wrapper nav ul {
  padding: 0;
  display: block;
  list-style: none;
}
/* line 13, ../sass/_partials/_slider.scss */
.header-wrapper nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 128, ../sass/_partials/_slider.scss */
.header-wrapper nav li {
  float: left;
  margin: 0 1.2rem;
}
/* line 132, ../sass/_partials/_slider.scss */
.header-wrapper nav li:last-child {
  margin-left: 0;
}

/* line 139, ../sass/_partials/_slider.scss */
.lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
/* line 147, ../sass/_partials/_slider.scss */
.lines-wrapper span.vertical {
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  top: 12%;
  left: 0;
  z-index: 1;
  opacity: 0.05;
}
/* line 158, ../sass/_partials/_slider.scss */
.lines-wrapper .croses span {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 11%;
  left: calc(20% - 2px);
}
/* line 165, ../sass/_partials/_slider.scss */
.lines-wrapper .croses span:nth-child(2) {
  left: calc(40% - 2px);
}
/* line 169, ../sass/_partials/_slider.scss */
.lines-wrapper .croses span:nth-child(3) {
  left: calc(60% - 2px);
}
/* line 173, ../sass/_partials/_slider.scss */
.lines-wrapper .croses span:nth-child(4) {
  left: calc(80% - 2px);
}
/* line 178, ../sass/_partials/_slider.scss */
.lines-wrapper span.horizontal {
  position: absolute;
  width: 1px;
  height: 100%;
  background: white;
  z-index: 1;
  left: 20%;
  opacity: 0.05;
}
/* line 187, ../sass/_partials/_slider.scss */
.lines-wrapper span.horizontal:nth-child(2) {
  left: 40%;
}
/* line 191, ../sass/_partials/_slider.scss */
.lines-wrapper span.horizontal:nth-child(3) {
  left: 60%;
}
/* line 195, ../sass/_partials/_slider.scss */
.lines-wrapper span.horizontal:nth-child(4) {
  left: 80%;
}

/* line 201, ../sass/_partials/_slider.scss */
.slider-wrapper {
  height: 100vh;
  overflow: hidden;
}

/* line 207, ../sass/_partials/_slider.scss */
.slider-content {
  position: relative;
  max-width: 100%;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
  height: 100vh;
}
/* line 215, ../sass/_partials/_slider.scss */
.slider-content .fslide-img img {
  width: auto;
  height: 100vh;
  margin: auto;
  display: block;
}
/* line 222, ../sass/_partials/_slider.scss */
.slider-content .slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/* line 228, ../sass/_partials/_slider.scss */
.slider-content .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 234, ../sass/_partials/_slider.scss */
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
  opacity: 0;
}
/* line 13, ../sass/_partials/_slider.scss */
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
/* line 246, ../sass/_partials/_slider.scss */
.slider-content .slide.active {
  opacity: 1;
  z-index: 50;
}
/* line 251, ../sass/_partials/_slider.scss */
.slider-content .slide.next {
  opacity: 1;
}
/* line 255, ../sass/_partials/_slider.scss */
.slider-content .slide.red {
  background-color: #73B6BE;
}
/* line 259, ../sass/_partials/_slider.scss */
.slider-content .slide.blue {
  background-color: #6989E0;
}
/* line 264, ../sass/_partials/_slider.scss */
.slider-content .slide.green {
  background-color: #6cd779;
}
/* line 269, ../sass/_partials/_slider.scss */
.slider-content .slide.grey {
  background-color: #bcbcbc;
}
/* line 272, ../sass/_partials/_slider.scss */
.slider-content .slide.brown {
  background-color: #562103;
}
/* line 278, ../sass/_partials/_slider.scss */
.slider-content .canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 285, ../sass/_partials/_slider.scss */
.slider-content .fake-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
}
/* line 294, ../sass/_partials/_slider.scss */
.slider-content .fake-bg.red {
  background-image: url(../img/bg.jpg);
  background-color: #73B6BE;
  background-size: cover;
}
/* line 300, ../sass/_partials/_slider.scss */
.slider-content .fake-bg.blue {
  background-color: #6989E0;
}
/* line 305, ../sass/_partials/_slider.scss */
.slider-content .fake-bg.green {
  background-color: #6cd779;
}
/* line 309, ../sass/_partials/_slider.scss */
.slider-content .fake-bg.grey {
  background-image: url("../img/roman_cole.jpg");
  background-color: #bcbcbc;
}
/* line 313, ../sass/_partials/_slider.scss */
.slider-content .fake-bg.brown {
  background-color: #562103;
}
/* line 320, ../sass/_partials/_slider.scss */
.slider-content .image-mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 125%;
  overflow: hidden;
}
/* line 328, ../sass/_partials/_slider.scss */
.slider-content .image-mask img {
  position: absolute;
  display: block;
  width: auto;
  height: 100%;
  top: -45px;
}
/* line 337, ../sass/_partials/_slider.scss */
.slider-content .mask-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: -5rem;
}
/* line 345, ../sass/_partials/_slider.scss */
.slider-content .mask-animation img.clip {
  width: 100%;
  clip-path: url(#svgPathBig);
}
/* line 352, ../sass/_partials/_slider.scss */
.slider-content .image-caption {
  position: absolute;
  color: white;
  transform: rotate(-90deg);
  top: 20rem;
  left: 12rem;
  font-size: 1.6rem;
  z-index: 10;
  clip: rect(0rem, 22rem, 12rem, 0px);
  display: inline-block;
  transition: all 0.3s ease;
}
/* line 364, ../sass/_partials/_slider.scss */
.slider-content .image-caption.mask-up {
  clip: rect(0rem, 0rem, 12rem, 0px);
}
/* line 368, ../sass/_partials/_slider.scss */
.slider-content .image-caption.mask-down {
  clip: rect(0rem, 21rem, 2rem, 200px);
}
/* line 372, ../sass/_partials/_slider.scss */
.slider-content .image-caption span {
  display: inline-block;
  vertical-align: top;
}
/* line 377, ../sass/_partials/_slider.scss */
.slider-content .image-caption .line {
  position: relative;
  background: white;
  height: 1px;
  width: 5rem;
  top: 1rem;
}
/* line 389, ../sass/_partials/_slider.scss */
.slider-content .title-background {
  position: absolute;
  font-size: 25rem;
  font-family: Narziss;
  top: 8rem;
  left: 4rem;
  color: black;
  opacity: 0.03;
  text-align: right;
}
/* line 399, ../sass/_partials/_slider.scss */
.slider-content .title-background span.mask-wrap {
  display: block;
  height: 25rem;
  position: relative;
}
/* line 403, ../sass/_partials/_slider.scss */
.slider-content .title-background span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0rem, 120rem, 25rem, 0px);
  transition: all 0.3s ease-in;
}
/* line 411, ../sass/_partials/_slider.scss */
.slider-content .title-background span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
/* line 414, ../sass/_partials/_slider.scss */
.slider-content .title-background span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 120rem, 0rem, 0px);
}
/* line 417, ../sass/_partials/_slider.scss */
.slider-content .title-background span.mask-wrap.mask-down span.mask {
  clip: rect(25rem, 44rem, 25rem, 0px);
}
/* line 423, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper {
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: right;
  margin-top: 25rem;
  z-index: 5;
}
/* line 433, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 {
  font-size: 12rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: right;
  font-family: Narziss-medium;
  margin-left: 5rem;
}
/* line 443, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 span.mask-wrap {
  display: block;
  height: 12rem;
  position: relative;
}
/* line 447, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  right: 0;
  clip: rect(0rem, 80rem, 12rem, 0px);
  transition: all 0.3s ease-in;
}
/* line 455, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
  transition-delay: 0.15s;
}
/* line 459, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 44rem, 0rem, 0px);
}
/* line 462, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
  clip: rect(12rem, 44rem, 12rem, 0px);
}
/* line 468, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper span.gallery {
  position: relative;
  text-align: right;
  padding: 0 2rem;
  cursor: pointer;
  margin-right: 5rem;
}
/* line 475, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper span.gallery::before {
  content: "";
  position: absolute;
  left: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}
/* line 487, ../sass/_partials/_slider.scss */
.slider-content .title-wrapper span.gallery::after {
  content: "";
  position: absolute;
  right: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  background: white;
  top: -0.5rem;
  opacity: 0.9;
}

/* line 503, ../sass/_partials/_slider.scss */
.control-nav {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}
/* line 510, ../sass/_partials/_slider.scss */
.control-nav ul {
  position: relative;
  list-style: none;
  padding: 0;
}
/* line 516, ../sass/_partials/_slider.scss */
.control-nav li {
  position: relative;
  margin: 0.2rem 0;
  opacity: 0.5;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
}
/* line 524, ../sass/_partials/_slider.scss */
.control-nav li.active {
  opacity: 1;
}
/* line 527, ../sass/_partials/_slider.scss */
.control-nav li.active .line {
  transform: translateX(-1.2rem);
  width: 1.8rem;
}
/* line 531, ../sass/_partials/_slider.scss */
.control-nav li.active .number {
  opacity: 1;
}
/* line 537, ../sass/_partials/_slider.scss */
.control-nav .line {
  width: 1.5rem;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background: white;
  left: -1rem;
  transition: all 0.3s ease;
}
/* line 550, ../sass/_partials/_slider.scss */
.control-nav .number {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 557, ../sass/_partials/_slider.scss */
.social-icons {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 999;
}
/* line 563, ../sass/_partials/_slider.scss */
.social-icons ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 569, ../sass/_partials/_slider.scss */
.social-icons ul li {
  position: relative;
  display: block;
  padding: 0.3rem 0;
}
/* line 575, ../sass/_partials/_slider.scss */
.social-icons ul a {
  display: block;
  width: 2rem;
  height: 2rem;
}
/* line 580, ../sass/_partials/_slider.scss */
.social-icons ul a svg {
  fill: white;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 590, ../sass/_partials/_slider.scss */
.footer-wrapper {
  position: absolute;
  color: white;
  bottom: 0rem;
  right: 0rem;
  width: 80%;
  height: 6rem;
  z-index: 50;
}
/* line 599, ../sass/_partials/_slider.scss */
.footer-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}
/* line 13, ../sass/_partials/_slider.scss */
.footer-wrapper ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 610, ../sass/_partials/_slider.scss */
.footer-wrapper li {
  position: relative;
  float: left;
  width: 20%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 622, ../sass/_partials/_slider.scss */
.footer-wrapper li:last-child {
  border: none;
}
/* line 626, ../sass/_partials/_slider.scss */
.footer-wrapper li.active .hover-box {
  opacity: 1;
  transform: scale(1.15);
}
/* line 631, ../sass/_partials/_slider.scss */
.footer-wrapper li .hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #73B6BE;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: 1;
}
/* line 643, ../sass/_partials/_slider.scss */
.footer-wrapper li .box-content {
  position: relative;
  z-index: 5;
}

/* line 656, ../sass/_partials/_slider.scss */
.slider-content .fslide-img.toleft .homeimg {
  opacity: 0;
  transform: translate3d(-150%, 0px, 0px);
  transition: all 0.3s ease-in;
}
/* line 664, ../sass/_partials/_slider.scss */
.slider-content .fslide-img.fromright .homeimg {
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* line 671, ../sass/_partials/_slider.scss */
.slider-content .modal-wrapper.toleft .eachmodal_wrapper {
  opacity: 0;
  transform: translate3d(-150%, 0px, 0px);
  transition: all 0.3s ease-in;
}
/* line 678, ../sass/_partials/_slider.scss */
.slider-content .modal-wrapper.fromright .eachmodal_wrapper {
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* line 685, ../sass/_partials/_slider.scss */
.slider-content .tslide-purchase.toleft .purchase-wrapper {
  opacity: 0;
  transform: translate3d(-150%, 20%, 0px);
  transition: all 0.3s ease-in;
}
/* line 692, ../sass/_partials/_slider.scss */
.slider-content .tslide-purchase.fromright .purchase-wrapper {
  transform: translate3d(0%, 20%, 0px);
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* line 699, ../sass/_partials/_slider.scss */
.slider-content .about-p.toleft p {
  opacity: 0;
  transform: translate3d(-150%, 0px, 0px);
  transition: all 0.3s ease-in;
}
/* line 706, ../sass/_partials/_slider.scss */
.slider-content .about-p.fromright p {
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* line 713, ../sass/_partials/_slider.scss */
.slider-content .contact-social.toleft ul {
  opacity: 0;
  transform: translate3d(-150%, 0px, 0px);
  transition: all 0.3s ease-in;
}
/* line 720, ../sass/_partials/_slider.scss */
.slider-content .contact-social.fromright ul {
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  transition: all 0.3s ease-in;
}

/* line 730, ../sass/_partials/_slider.scss */
.slider-content .meet-characters .image-caption {
  left: 0rem;
}

/* line 738, ../sass/_partials/_slider.scss */
.slider-content .about .title-wrapper {
  margin-top: 5rem;
  margin-right: 15%;
}
/* line 742, ../sass/_partials/_slider.scss */
.slider-content .about .title-wrapper .about-p p {
  width: 60%;
  float: right;
  font-size: 14px;
  line-height: 17px;
  border: solid #fff 2px;
  padding: 18px;
  background-color: rgba(188, 188, 188, 0.4);
}

/* line 758, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(20%);
}
/* line 769, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic {
  flex: 1;
  flex-basis: 25%;
  padding: 40px;
}
/* line 773, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic .shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.28);
}
/* line 778, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic img {
  width: 100%;
  height: auto;
}
/* line 782, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic p {
  background-color: #fff;
  padding: 15px;
  margin-top: -2px;
  text-align: center;
  transition: .3s;
}
/* line 789, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic a {
  text-decoration: none;
}
/* line 792, ../sass/_partials/_slider.scss */
.slider-content .purchase .purchase-wrapper .comic a:hover p {
  background-color: #000;
  color: #fff;
}
/* line 801, ../sass/_partials/_slider.scss */
.slider-content .purchase .image-caption {
  left: 0rem;
}

/* line 809, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper {
  margin-top: 8rem;
}
/* line 812, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper h1 span.mask-wrap {
  text-align: center;
}
/* line 814, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper h1 span.mask-wrap span.mask {
  left: 0;
  right: 0;
}
/* line 821, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper span.contact-social ul {
  text-align: center;
  margin-top: 65px;
}
/* line 824, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper span.contact-social ul li {
  display: inline-block;
  margin: 0 26px;
}
/* line 827, ../sass/_partials/_slider.scss */
.slider-content .slide.contact .title-wrapper span.contact-social ul li svg.icon {
  width: 55px;
  height: auto;
}

/* line 4, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  padding: 7%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
/* line 21, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper {
  flex: 1;
  flex-basis: 33.3%;
  padding: 15px 8%;
}
/* line 25, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal {
  width: 80%;
  height: 100%;
  background-size: cover;
  padding: 10px;
  background-color: #fff;
}
/* line 31, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}
/* line 39, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_don {
  background-image: url("../img/characters/don.png");
}
/* line 42, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_vetus {
  background-image: url("../img/characters/vetus.png");
}
/* line 45, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_timore {
  background-image: url("../img/characters/timore.png");
}
/* line 48, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_alex {
  background-image: url("../img/characters/alex.png");
}
/* line 51, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_ira {
  background-image: url("../img/characters/ira.png");
}
/* line 54, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_mortem {
  background-image: url("../img/characters/mortem.png");
}
/* line 57, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_amalia {
  background-image: url("../img/characters/amalia.png");
}
/* line 60, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_tarum {
  background-image: url("../img/characters/tarum.png");
}
/* line 63, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .eachmodal_wrapper .eachmodal.m_custos {
  background-image: url("../img/characters/custos.png");
  opacity: 0;
}
/* line 69, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .center, .slide.blue .modal-wrapper .modal {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
/* line 77, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .show {
  color: #fff;
}
/* line 86, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .show:hover {
  cursor: pointer;
}
/* line 93, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .close {
  position: absolute;
  cursor: pointer;
  padding: 20px;
  color: #000000;
  bottom: 0;
  right: 0;
  top: 0;
  font-size: 18px;
}
/* line 105, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .mask {
  background: rgba(0, 0, 0, 0.68);
  visibility: hidden;
  transition: 0.7s;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 51;
  opacity: 0;
  left: 0;
  top: 0;
}
/* line 119, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal {
  transition: 0.5s ease-out;
  background: #92d2da;
  visibility: hidden;
  position: fixed;
  height: 80vh;
  width: 80vw;
  z-index: 100;
  opacity: 0;
}
/* line 130, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content {
  height: 100%;
}
/* line 132, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content .left {
  display: inline-block;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  padding: 60px 20px 20px 50px;
}
/* line 138, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content .left h2 {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 800;
}
/* line 143, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content .left p {
  font-size: 16px;
  line-height: 23px;
}
/* line 148, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content .right {
  display: inline-block;
  width: 39%;
  height: 100%;
  background-size: cover;
  float: right;
}
/* line 157, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_don .right {
  background-image: url("../img/characters/don.png");
}
/* line 162, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_vetus .right {
  background-image: url("../img/characters/vetus.png");
}
/* line 167, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_timore .right {
  background-image: url("../img/characters/timore.png");
}
/* line 172, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_alex .right {
  background-image: url("../img/characters/alex.png");
}
/* line 177, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_ira .right {
  background-image: url("../img/characters/ira.png");
}
/* line 182, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_mortem .right {
  background-image: url("../img/characters/mortem.png");
}
/* line 187, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_amalia .right {
  background-image: url("../img/characters/amalia.png");
}
/* line 192, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_tarum .right {
  background-image: url("../img/characters/tarum.png");
}
/* line 197, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .modal .modal__content.mc_custos .right {
  background-image: url("../img/characters/custos.png");
}
/* line 205, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .active {
  visibility: visible;
  opacity: 1;
}
/* line 211, ../sass/_partials/_modal.scss */
.slide.blue .modal-wrapper .active + .modal {
  visibility: visible;
  opacity: 1;
}
