$primary: #73B6BE;

.slide.blue {
    .modal-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100vh;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        padding: 7%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        .eachmodal_wrapper {
            flex: 1;
            flex-basis: 33.3%;
            padding: 15px 8%;
            .eachmodal {
                width: 80%;
                height: 100%;
                background-size: cover;
                padding: 10px;
                background-color: #fff;
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 800;
                    color: #000000;
                }
            }
            .eachmodal {
                &.m_don {
                    background-image: url('../img/characters/don.png');
                }
                &.m_vetus {
                    background-image: url('../img/characters/vetus.png');
                }
                &.m_timore {
                    background-image: url('../img/characters/timore.png');
                }
                &.m_alex {
                    background-image: url('../img/characters/alex.png');
                }
                &.m_ira {
                    background-image: url('../img/characters/ira.png');
                }
                &.m_mortem {
                    background-image: url('../img/characters/mortem.png');
                }
                &.m_amalia {
                    background-image: url('../img/characters/amalia.png');
                }
                &.m_tarum {
                    background-image: url('../img/characters/tarum.png');
                }
                &.m_custos {
                    background-image: url('../img/characters/custos.png');
                    opacity: 0;
                }
            }
        }
        .center {
            transform: translate(-50%, -50%);
            position: absolute;
            left: 50%;
            top: 50%;
        }

        // show button
        .show {
            //transition: background 500ms ease;
            //background: lighten($primary, 5%);
            //padding: 10px 15px;
            //margin-right: 5px;
            //cursor: pointer;
            color: #fff;
            //border: 0;

            &:hover {
                //background: darken($primary, 10%);
                cursor: pointer;
            }
        }

        // Close Button
        .close {
            position: absolute;
            cursor: pointer;
            padding: 20px;
            color: #000000;
            bottom: 0;
            right: 0;
            top: 0;
            font-size: 18px;
        }

        // The mask
        .mask {
            background: rgba(0, 0, 0, 0.68);
            visibility: hidden;
            transition: 0.7s;
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index: 51;
            opacity: 0;
            left: 0;
            top: 0;
        }

        // Modal
        .modal {
            transition: 0.5s ease-out;
            background: #92d2da;
            visibility: hidden;
            position: fixed;
            @extend .center;
            height: 80vh;
            width: 80vw;
            z-index: 100;
            opacity: 0;

            .modal__content {
                height: 100%;
                .left {
                    display: inline-block;
                    width: 60%;
                    height: 100%;
                    overflow-y: scroll;
                    padding: 60px 20px 20px 50px;
                    h2 {
                        font-size: 22px;
                        margin-bottom: 25px;
                        font-weight: 800;
                    }
                    p {
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
                .right {
                    display: inline-block;
                    width: 39%;
                    height: 100%;
                    background-size: cover;
                    float: right;
                }
                //@extend .center;
                &.mc_don {
                    .right {
                        background-image: url('../img/characters/don.png');
                    }
                }
                &.mc_vetus {
                    .right {
                        background-image: url('../img/characters/vetus.png');
                    }
                }
                &.mc_timore {
                    .right {
                        background-image: url('../img/characters/timore.png');
                    }
                }
                &.mc_alex {
                    .right {
                        background-image: url('../img/characters/alex.png');
                    }
                }
                &.mc_ira {
                    .right {
                        background-image: url('../img/characters/ira.png');
                    }
                }
                &.mc_mortem {
                    .right {
                        background-image: url('../img/characters/mortem.png');
                    }
                }
                &.mc_amalia {
                    .right {
                        background-image: url('../img/characters/amalia.png');
                    }
                }
                &.mc_tarum {
                    .right {
                        background-image: url('../img/characters/tarum.png');
                    }
                }
                &.mc_custos {
                    .right {
                        background-image: url('../img/characters/custos.png');
                    }
                }
            }
        }

        // Class Active
        .active {
            visibility: visible;
            opacity: 1;
        }

        // When active class is added, that affects the modal class
        .active + .modal {
            visibility: visible;
            opacity: 1;
        }
    }
}
